* {
  margin: 0%;
  padding: 0%;
}

body {
  overflow-x: hidden;
}

label.logo img {
  overflow-x: hidden;
  width: 40px;
  justify-content: center;
  align-items: center;
  border: 2px solid whitesmoke;
  border-radius: 50px;
  margin-left: 3px;
  margin-top: 3px;
}

nav ul {
  width: 100%;
  display: flex;
  z-index: 9999;
  align-items: center;
  position: sticky;
  top: 0;
  cursor: pointer;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: flex;
  color: #000;
  text-decoration: none;
  list-style: none;
  margin-left: 10px;
  padding: 10px 35px;
  padding-top: 20px;
}

nav ul li a:hover {
  color: lightcoral;
  background: black;
}

#searchbar {
  display: flex;
  width: 20%;
  height: 0%;
  margin-top: 3px;
  text-align: center;
  padding: 5px;
  font-size: 17px;
  border: 2px solid whitesmoke;
  border-radius: 9px;
  margin-left: 10px;
}

#searchbar input {
  margin-left: 7px;
}

#searchbar button.btn-sm {
  margin-left: 0px;
}

#info {
  display: flex;
  margin-left: 4%;
}

#info li {
  list-style: none;
  text-decoration: none;
}

ul {
  list-style: none;
}

ul li {
  display: inline-block;
  position: relative;
}

ul li a {
  display: block;
  padding: 20px 25px;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
}

ul li ul.dropdownn li {
  display: block;
  padding-top: 100%;
}

ul li ul.dropdownn {
  width: 100%;
  position: absolute;
  z-index: 8888;
  display: none;
}

ul li:hover ul.dropdownn {
  display: block;
}

.dropdownn span a:hover {
  background: black;
  color: tomato;
  opacity: 0.8;
}

#checkbtn {
  float: right;
  font-size: 30px;
  margin-right: 10px;
  display: none;
}

#check {
  display: none;
}

#navbk {
  background: url(imgpp/header1.jfif) 10%;
  background-size: cover;
}

h1 {
  overflow-x: hidden;
  margin-left: 33%;
}

#bk1st img {
  overflow-x: hidden;
  width: 100%;
}

#bk1st img:-moz-read-only {
  opacity: -1;
}

#bk1st img:read-only {
  opacity: -1;
}

#bk1st img:hover {
  opacity: 1;
  transition: 2s;
}

.form {
  overflow-x: hidden;
  width: 250px;
  height: 380px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 50% rgba(0, 0, 0, 0.8) 50%);
  position: absolute;
  top: 250px;
  left: 490px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.form h2 {
  overflow-x: hidden;
  color: aliceblue;
  margin-left: 30px;
}
.form p {
  color: aliceblue;
}
.form .link {
  margin-left: 15px;
}
.form button {
  margin-left: 70px;
}
.form .suhbtn {
  margin-left: 45px;
}
.form .liw {
  margin-left: 55px;
}
.form .inp input {
  margin: 5px;
}

.slide {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

.grid {
  overflow-x: hidden;
  display: grid;
  grid-template-columns: repeat(2, 100%);
  overflow: scroll;
  overflow-y: hidden;
  scrollbar-width: thin;
}

#bk3rd {
  overflow-x: hidden;
  width: 100%;
  font-size: 20px;
  margin-left: -4%;
}

.bk3rd1 {
  background-color: #000;
}

.bk3rd1 input {
  margin-left: 37%;
  margin-bottom: 15px;
  margin-top: 10px;
  width: 20%;
}

#bk3rd button.btn-sm {
  margin-left: 0px;
}

.LOGOBK {
  overflow-x: hidden;
  width: 100%;
  height: 50%;
  background-color: silver;
}

.LOGOBK span {
  color: silver;
  text-decoration: none;
}

.LOGOBK img {
  width: 10%;
  background-color: white;
  margin-left: 4%;
}

.LOGOBK a {
  text-decoration: none;
}

.LOGOBK:hover {
  background: royalblue;
  background-color: #000;
  transition: 2s;
  transform: scale(0.8);
}

.LOGOBK span:hover {
  background: white;
}

footer {
  overflow-x: hidden;
  background-color: #111;
}

.footer {
  width: 100%;
}

.socialicons {
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

.socialicons a {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}

.socialicons a i {
  color: black;
  opacity: 0.9;
}

.socialicons a:hover {
  background-color: #111;
  transition: 0.5s;
}

#footernav {
  margin: 30px 0;
}

#footernav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

#footernav ul li a {
  color: white;
  margin: 5px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;
}

#footernav ul li a:hover {
  opacity: 1;
  transition: 0.5s;
  color: lightcoral;
}

.footerbottom {
  background-color: #000;
  padding: 20px;
  justify-content: center;
  display: flex;
}

.footerbottom p {
  color: white;
}

.designer {
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 5px;
}

@media (max-width: 769px) {
  #check:checked ~ ul {
    left: 0;
    transition: left 1s;
  }
  ul {
    display: none;
  }
  #checkbtn {
    display: flex;
  }
  #checkbtn {
    display: block;
  }
  nav ul {
    width: 100%;
    height: 100vh;
    background: rgba(29, 32, 30, 0.632);
    position: fixed;
    top: 55px;
    left: 100%;
    transition: left 2s;
  }
  .socialicons {
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin: 10px;
  }
  nav ul {
    width: 100%;
    text-align: center;
    flex-direction: column;
  }
  #searchbar {
    flex-direction: column;
  }
  #bk1st img {
    width: 100%;
  }
  .LOGOBK {
    flex-direction: column;
  }
  .LOGOBK img {
    flex-direction: row;
    justify-content: center;
    display: flex;
  }
  #bk1st img {
    display: flex;
  }
  .footernav ul {
    flex-direction: column;
  }
  .footernav ul li {
    width: 100%;
    text-align: center;
    margin: 10px;
  }
}/*# sourceMappingURL=style.css.map */